<menu id="MainMenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="item_history" label="@Strings.menu_label_history" />
    <menu-item id="item_delete_last" label="@Strings.menu_label_delete_last" />
    <menu-item id="item_clear_all" label="@Strings.menu_label_clear_all" />
</menu>
